.dashboard {
  padding: 20px;
  margin-left: 220px;
  background: #f3f4f6;
  min-height: 100vh;
  position: relative;
  flex: 1;
  padding: 20px;
  overflow-x: auto;
}

.top-section {
  width: 100%;
}

.top-section,
.bottom-section {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  overflow-x: auto;
}

.bottom-section {
  width: 100%;
}
