.Sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  transition: 300ms eases;
  width: 220px;
  background-color: #1e293b; /* dark color */
  color: #fff;
  height: 90vh;
  position: fixed;
  overflow-y: auto;
}
.menuItem {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  margin-left: 2rem;
  position: relative;
  transition: 300ms ease;
  font-size: 14px;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
}

.menuItem.active {
  background-color: #2563eb;
  margin-left: 0;
}

.menuItem.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: #f43f5e; /* Tailwind pink-500 */
  margin-right: calc(1rem - 8px);
}

.logout {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}
