.App {
  background: linear-gradient(135deg, #dadada, #a6a6a6, #808080);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.appGlass {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  border-radius: 2rem;
  background: var(--glass);
  overflow: hidden;
  /* to the three different  collums on the dashboard */
  grid-template-columns: 11rem auto 20rem;
}
.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #1e293b;
  color: white;
}

.dashboard {
  margin-left: 220px;
  flex: 1;
  padding: 20px;
}
body {
  font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
  color: #131842;
  padding: 20px;
  margin: 0;
}

/* App.css or Dashboard.css */

/* tbale */

/* button styling */
.btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 15px;
}
.btn-transfer {
  background-color: #674188;
}
.btn-danger {
  background-color: #dc3545;
}
.btn-info {
  background-color: #33bee5;
}
.btn:hover {
  transform: translateY(-px);
}
.btn-add {
  background-color: #533366;
}
.btn-save {
  background-color: #533366;
}
.btn-back {
  background-color: #c82333;
}
/* form  style*/
